//Blues
$st-light-blue: #C6ECFF;
$st-azure: #12A5ED​;
$st-peacock-blue: #005D9F;
$st-twilight: #506A84;

// Greens
$st-light-green: #C9EDD9;
$st-green: #3FCB7E;
$st-viridian: #1D874D;

//Yellows
$st-light-yellow: #FCE4A3;
$st-sunflower: #FFBF10;
$st-burnt-yellow: #DDA02A;

//Reds
$st-light-pink: #FFE0E9;
$st-hot-pink: #C42151;
$st-rouge: #9A193E;
$st-velvet: #570D22;

//Grayscale
$st-white: white;
$st-off-white: #F5F8FA;
$st-light-gray: #E1E8ED;
$st-gray: #A1AEB;

